#filters li label{
    font-family: 'Playfair Display', serif !important;
    font-size: 15pt !important;
}

.skills-ev{
    border: 3px solid #F8F8F8;
    transition: border-width 0.18s linear;
    padding: 50px 50px; 
    margin-right: 40px; 
    height: 250px; 
    margin-top: 50px; 
    text-align: center;
}

.skills-od{
    border: 3px solid #F8F8F8; 
    transition: border-width 0.18s linear;
    padding: 50px 50px; 
    height: 250px;  
    text-align: center;
}

.skills-ev:hover{
    border: 3px solid  rgba(14, 128, 63, 0.5);
    border-width: 10px;
}

.skills-od:hover{
    border: 3px solid  rgba(14, 128, 63, 0.5);
    border-width: 10px;
}

.skills-co{
    text-align: left !important;
}

.icon-skills {
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}
  
.icon-skills li {
    display: inline-block;
    list-style: none;
    margin-right: 12px;
    font-size: 12pt;
}

.icon-skills li i {
font-size: 25pt !important;
}

/* icons */
.fa-react {
color: #456e9c;
}

.fa-js-square {
color: #f1de4f;
}

.fa-html5 {
color: #e27f53;
}

.fa-css3-alt {
color: #53a7dc;
}

.fa-php {
color: #858eb8;
}

.fa-node-js {
color: #198754;
}

.fa-python {
color: #356a97;
}

.fa-git {
color: #e84d31;
}


.fa-java {
   color: #00718B;
}

.fa-docker {
color: #2391e6;
}

.fa-jenkins {
color: #12202e;
}

.fa-linux {
color: #12202e;
}

.fa-aws {
color: #12202e;
}

span.skills {
font-size: 10pt;
font-weight: 700 !important;
}

h3.headline-title{
    font-size: 30pt;
}

.profile{
   margin: 0 auto; 
   margin-top: 120px; 
   border-radius: 50%; 
   display: table; 
   overflow: hidden;
   box-shadow: 0 0 0 6px #EEEEEE;
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
    text-align: left;
    font-weight: 600;
    margin-right: 25px;
}

.nav-item:hover{
   color: #00823E !important;
}

.nav-item, .list-unstyled a {
    font-size: 12pt;
    font-weight: 700;
    position: relative;
    padding: 0 !important;
    -webkit-transition: all .2s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif !important;
    transition: all .2s ease-in-out;
}

.nav-item::after, .list-unstyled a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: #00823E;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-item:hover,
.nav-item.activepage {
    color: #00823E
}

.isactive{
    color: #00823E !important;
}

.nav-item:hover::after,
.nav-item.activepage::after {
    width: 100%
}

.list-unstyled a:hover,
.list-unstyled a.activepage {
    color: #00823E
}

.list-unstyled a:hover::after,
.list-unstyled a.activepage::after {
    width: 100%
}

.b-bottom{
    border-bottom: 1px solid #EEEEEE;
}

.nav-right{
    text-align: right !important;
    border: 1px solid #F00;
}

.nav-margin-right{
    margin-right: 20px;
}

.copywrite{
    width: 60%;
    font-size: 9pt;
    font-weight: 700;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.projects{
    float: left;
    width: 680px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 28px;
}

.projects img{
    width: 100%;
}

.grid::after{
    content: '';
    display: table;
    clear: both;
}

.site-brand{
    margin-left: 20px;
    font-size: 17pt !important;
}

.demo-img img{
    width: 100%;
}

.demo-img-mini img{
    width: 90%;
}

.mini div p{
    width: 80%;
}

.pd-bottom-50 {
    padding-bottom: 50px;
    margin-bottom: 75px;
}

.pd-bottom-75 {
    padding-bottom: 75px;
}

.contactTextArea{
    height: 150px !important;
    padding: 0px;
}

.footer{
    background: #FBFBFB;
}

.nav-container{
    border: 1px solid #EEEEEE;
}

.border-bottom{
    border-bottom: 1px solid #EEEEEE !important;
}

.bg-light{    
    padding: 50px;
    background: #F7FCF5 !important;
}

.w-90{
    width: 90%;
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #00823E;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

/* loader projects */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #00823E;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  

/** end loader project ****/  

@media only screen and (max-width : 320px) {
    /* Styles */
}

@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {
    /* Styles */
}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px){
    /* Styles */
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px){
    .skills-ev, .skills-od, .skills-co{
        border: 1px solid #F00;
        float: left !important;
        width: 90% !important;
    }
}